<%= form_for(@flat) do |f| %>
  <% if @flat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flat.errors.count, "error") %> prohibited this flat from being saved:</h2>

      <ul>
      <% @flat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :day_price %><br>
    <%= f.number_field :day_price %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div>
  <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>

  <%= f.fields_for :pictures, @picture do |picture_f| %>
      <%= picture_f.file_field :file %>
  <% end %>

  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
